# Core Data
pandas
numpy

# Visualization
matplotlib
seaborn

# Notebook Environment
jupyterlab
ipykernel

# Machine Learning
scikit-learn
lightgbm

# Model Saving
joblib

# File Formats
pyarrow

# Statistical tools
scipy

# Optional (better visuals)
plotly

# API Backend
fastapi
uvicorn[standard]

# Testing
pytest
httpx